.Add-list {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-bottom: 130px; */

  background-color: #ffffff;
  color: #080808;
  margin: 0 auto;
  max-width: 50%px;
  text-align: center;
  box-shadow: 0 24px 64px #26214a1a;
  border-radius: 12px;
}
.inputfield {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  /* border-color: #ff0101; */
  background-color: #d3d3d3;
}
.heading {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.modal-form {
  /* max-width: 80%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 150px;
  border: 2px solid rgb(151, 148, 148);
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */

  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  margin-left: 40px;
}
.modlabel {
  font-family: "Montserrat", sans-serif;
  color: #4d4c4c;
  font-size: medium;
}
.proform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  margin-left: 40px;
}
.dp .dropdown-toggle {
  width: 180px; /* change this value to adjust the width of the dropdown */
  align-items: center;
  display: flex;
  justify-content: center;
  color: #080808;
  border: none;
  border-radius: 10px;
  background-color: #d6e5f1;
}

.dp .dropdown-menu {
  width: 200px;
  /* max-width: 100%; */
  /* change this value to adjust the width of the dropdown menu */
  max-height: 200px; /* change this value to adjust the maximum height of the dropdown menu */
  overflow-y: auto;
}

.drop {
  align-items: end;
}
.dp {
  margin: 10px;
}

.dropdown-toggle {
  background-color: #6c757d;
  color: #fff;
}

.dropdown-item {
  color: #fff;
}

option {
  background-color: #343a40;
  color: white;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #343a40;
}

.dropdown-menu {
  background-color: #343a40;
}

.dropdown-menu.show {
  display: block;
}

.btM {
  width: 100%;
  height: 45px;
  background: #ffffff0d;
  border-radius: 8px;
  border: 2px solid rgb(7, 106, 236);
  font-size: 15px;
  font-weight: bold;
  color: navy;
  -webkit-transition: 0.5s all ease;
  transition: 0.52s all ease;
  position: relative;
  overflow: hidden;
  padding: 10px 25px;
  z-index: 1;
  margin: auto;
}

.btM:before {
  width: 50%;
  height: 100%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0%;
  left: -50%;
  background: rgb(7, 106, 236);
  transition: all 0.5s ease;
  z-index: -1;
}

.btM:after {
  width: 50%;
  height: 100%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0%;
  left: 100%;
  background: rgb(7, 106, 236);
  transition: all 0.5s ease;
  z-index: -1;
}

.btM:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.btM:hover:before {
  top: 0;
  left: 0;
}

.btM:hover:after {
  top: 0;
  left: 50%;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 1rem;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.header-logo {
  width: 50px;
  height: 50px;
}

.header-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header-navigation li {
  margin-left: 1rem;
}

.header-navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.header-navigation a:hover {
  text-decoration: underline;
}


/*.p1 {
  margin-left: 110px;
  margin-top: 20px;
  margin-bottom: 25px;
}

input {
  padding-top: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.add2 {
  margin-top: 20px;
}

#dropdown-button-dark-example1 {
  margin-bottom: 20px;
  margin-left: 80px;
}

.head2 {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Axiforma;
} */



.btttn{
  border:green;
  color:white;
  margin-left:150px;
  width:110px;
   height:40px;
  border-radius:10px;
     background-color:green;
      font-family:"Montserrat";
      font-weight: 1000;
}

.btttn2{
  border:rgb(255, 0, 0);
  color:white;
  margin-left:190px;
  width:110px;
   height:40px;
  border-radius:10px;
     background-color:rgb(202, 18, 18);
      font-family:"Montserrat";
      font-weight: 1000;
}

.btttn:hover{
  background-color: #00ff22;
  color:wheat;
}

.btttn2:hover{
  background-color: #ff0000;
  color:wheat;
}