@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');



.pie-chart-container {
    animation: rotate 10s linear infinite;
}
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  @media screen and (max-width : 768px){
    /* .row{
      margin: auto;
      max-width: 600px;
    } */
    .col-md-9{
      width:90%;
      margin-left: 50px;
    }
    .col-md-11{
      width: 90%;
      margin-left: -100px;
    }
    .col-md-4{
      
      margin-left: 450px;
      

    }
    .rowww{
      max-width: 500px;
      margin-left:-100px;
     
    }
    .del{
      margin: auto;
      margin-left: 200px;
    }
    .buy{
      margin: auto;
      margin-left: -1000px;
    }
  .piee {
    display: none;
  }
   .pie{
    display: none;
   }

   .roww{
    width: 90%;
    margin-top: 400px;
    margin-left: 0px;
   }

   .col-md-8{
    margin-top: 400px;
   }
   .cardd{
    
   margin-left: 280px;
   max-width: 40%;
   overflow: auto;
   }
  .col-md-3{
width: auto; 
margin-left: -200px;

}
  .col-md-5{
    display: none;
  }

  .card{
    max-width: 500px;
   margin-left: -130px; 
   display: inline;
  }
  
  .card1{
   display: inline;
   }

   .butad{
    margin-left: 0px;
   }
   .walad{
    margin-top: 20px;
   }

   .Add-list{
    display: inline;
max-width: 90%;
margin-left: -400px;
 }
 .sidejs{
margin-left: 650px;
}


  }

.element.style {
  }
  .bg-gradient-success {
      background: #28a745 linear-gradient(180deg,#48b461,#28a745) repeat-x!important;
      color: #fff;
  }
  .card {
      box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
      margin-bottom: 1rem;
  }
  .card {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0 solid rgba(0,0,0,.125);
      border-radius: 0.25rem;
  }
  *, ::after, ::before {
      box-sizing: border-box;
  }




.calender-employee{
  width: 845px;
  margin-left: -400px;
  position: relative;
  height:590px;
  left: 1250px;
  bottom: 450px;
  /* background-color: white; */
}  
.date{
  background-color: #6610f2;
}

.current-date {
  background-color: goldenrod;
}
.mark{
  background-color: #1310d8;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.marker {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  bottom: 45px;
  left:20px
}

.my-calendar .react-calendar__tile {
  color: rgb(13, 20, 14);
}
.my-calendar .react-calendar__navigation {
  background-color: rgb(20, 13, 13);
  color:black;
  height: 60px;
}
.my-calendar .react-calendar__navigation__label:hover {
  background-color: transparent !important;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 14px;
}