@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');



.pie-chart-container {
    animation: rotate 10s linear infinite;
}
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  @media screen and (max-width : 768px){
    /* .row{
      margin: auto;
      max-width: 600px;
    } */
    .col-md-9{
      width:90%;
      margin-left: 50px;
    }
    .col-md-11{
      width: 90%;
      margin-left: -100px;
    }
    .col-md-4{
      
      margin-left: 450px;
      

    }
    .rowww{
      max-width: 500px;
      margin-left:-100px;
     
    }
    .del{
      margin: auto;
      margin-left: 200px;
    }
    .buy{
      margin: auto;
      margin-left: -1000px;
    }
  .piee {
    display: none;
  }
   .pie{
    display: none;
   }

   .roww{
    width: 90%;
    margin-top: 400px;
    margin-left: 0px;
   }

   .col-md-8{
    margin-top: 400px;
   }
   .cardd{
    
   margin-left: 280px;
   max-width: 40%;
   overflow: auto;
   }
  .col-md-3{
width: auto; 
margin-left: -200px;

}
  .col-md-5{
    display: none;
  }

  .card{
    max-width: 500px;
   margin-left: -130px; 
   display: inline;
  }
  
  .card1{
   display: inline;
   }

   .butad{
    margin-left: 0px;
   }
   .walad{
    margin-top: 20px;
   }

   .Add-list{
    display: inline;
max-width: 90%;
margin-left: -400px;
 }
 .sidejs{
margin-left: 650px;
}


  }

.element.style {
  }
  .bg-gradient-success {
      background: #28a745 linear-gradient(180deg,#48b461,#28a745) repeat-x!important;
      color: #fff;
  }
  .card {
      box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
      margin-bottom: 1rem;
  }
  .card {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0 solid rgba(0,0,0,.125);
      border-radius: 0.25rem;
  }
  *, ::after, ::before {
      box-sizing: border-box;
  }
  user agent stylesheet
  div {
      display: block;
  }
  body {
      margin: 0;
      font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: left;
      background-color: #fff;
  }
  :root {
      --blue: #007bff;
      --indigo: #6610f2;
      --purple: #6f42c1;
      --pink: #e83e8c;
      --red: #dc3545;
      --orange: #fd7e14;
      --yellow: #ffc107;
      --green: #28a745;
      --teal: #20c997;
      --cyan: #17a2b8;
      --white: #fff;
      --gray: #6c757d;
      --gray-dark: #343a40;
      --primary: #007bff;
      --secondary: #6c757d;
      --success: #28a745;
      --info: #17a2b8;
      --warning: #ffc107;
      --danger: #dc3545;
      --light: #f8f9fa;
      --dark: #343a40;
      --breakpoint-xs: 0;
      --breakpoint-sm: 576px;
      --breakpoint-md: 768px;
      --breakpoint-lg: 992px;
      --breakpoint-xl: 1200px;
      --font-family-sans-serif: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  }
  html {
      font-family: sans-serif;
      line-height: 1.15;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: transparent;
  }
  *, ::after, ::before {
      box-sizing: border-box;
  }
  *, ::after, ::before {
      box-sizing: border-box;
  }



.calender-employee{
  width: 845px;
  margin-left: -400px;
  position: relative;
  height:520px;
  left: 80px;
  bottom: 150px;
  background-color: white;
}  