@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 190px;
    position: relative;
  }
  
  .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
  }
  .cmplg{
    width: 600px;
    height: 600px;
    margin-top: 300px;
  margin-left: -570px;
  animation: bounce 3s infinite;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .awardd{
  
  animation: bounce 3s infinite;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: transparent;
    /* margin-top:-10px */
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
  }


  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@media screen and (max-width : 768px){
  .headerrr{
    margin: auto;
  }
  .container   .main{
display: none;  }
.containerrr{
max-width: 30%;
}
.sec::after{
  
    font-family: "Secular One";
    content: "Company Login";
    margin-left: -100px !important;
  }

  .cmplg{
    display: none;
  }
.cmplgg{
  margin-left: 80px !important;
}
.task-list-container{
  max-width: 500px;
  margin-left: -8100px
}
 .task-due-date{
  display: none;
 }
 .task-name{
  display:none;
 }
 .task-assigned-to{
  display:none;
 }
 .task-list-container{
  margin-left:-00px;
 }
 .task-list{
  margin-left: 00px;
 }
}


.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .form-label {
    flex-basis: 30%;
    margin-right: 1rem;
  }


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');



.fonty{
  font-family: 'Bebas Neue', cursive;
  font-size: 5em;
}
/* .col-md-6 form-group{
  position: relative;
  bottom: 100%;
} */