@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,200&display=swap');
.gradient-custom {
  /* fallback for old browsers */
  background: #808080;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }

  .card {
    background: #FFFFFF;
    border-radius: 50px;
    box-shadow: #FFFFFF 0px -23px 25px 0px inset,  #FFFFFF 0px 30px 50px -12px inset, rgb(223, 225, 235) 0px 30px 50px -12px  inset, rgba(223, 225, 235) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(223, 225, 235) 0px 8px 4px, rgba(223, 225, 235) 0px 16px 8px, rgba(223, 225, 235) 0px 32px 16px;
  }
  .red {
    font-family: 'Bitter', serif;
    position: relative;
    top: 35px;
    left: 30px;
  }
  .card1 {
    width: 900px;
    height: 440px;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px,
    rgba(50, 50, 93, 0.25)  0px 18px 26px -18px  ;
    font-size: 0.9rem;
    line-height: 1.5;
    padding: 10px;

  }
  
  .card1 h6 {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .Acheivements {
    width: 900px;
    height: auto;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
  }
